@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Righteous&family=Work+Sans:wght@100;300;400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Word Sans';
    margin: 0;
    padding: 0;
}

html{
    /*me  permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header{
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #FFC300;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    font-family: 'Righteous';
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #FFC300;
}
.nav-responsive{
    background-color: #000000;
    color:#FFC300;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.nav-responsive:hover{
    
    color:#fff;
}

/*INICIO*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(Imagenes/portada.webp);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    margin-top: 40px;
    background-color: #000000;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #FFC300;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100px;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #FFC300;
}

/*SECCION SOBRE MI*/
.sobremi{
    background-color: #000000;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font:18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 100%;
    font:18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #FFC300;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #FFC300;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color:#252a2e;
    border-radius: 10px;
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .intereses:hover{
    background-color: #FFC300;
}


.sobremi .fila .col .contenedor-intereses .intereses i{
    padding: 5px;
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi .fila .col .contenedor-intereses .intereses span{
font-size: 17px;
}

.sobremi a{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi a .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FFC300;
    z-index: -1;
    transition: 1s;
    color: #000000;
}

.sobremi a:hover .overlay{
    width: 100%;
}

/*SECCION SKILLS*/

.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding:  0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .fila .col .contenedor-tecnicas{
    display: flex;
    flex-wrap: wrap;
}

.skills .fila .col .contenedor-tecnicas .tecnicas{
    width: 100px;
    height: 100px;
    background-color: #131517;
    border-radius: 10px;
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.skills .fila .col .contenedor-tecnicas .tecnicas:hover{
    background-color: #FFC300;
}


.skills .fila .col .contenedor-tecnicas .tecnicas i{
    padding: 5px;
    font-size: 30px;
    margin-bottom: 10px;
}


.skills .fila .col .contenedor-tecnicas .tecnicas span{
font-size: 17px;
}

.skills .skill >span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra_skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #FFC300;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra_skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFC300;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/*Estas clases se agregaran denamicamente mediante javascript*/
/*Tecnicas Skills*/
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .nodejs{
    width: 0%;
    animation: 2s nodejs forwards;
}
@keyframes nodejs{
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .github{
    width: 0%;
    animation: 2s github forwards;
}
@keyframes github{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 45%;}
}

.skills .skill .visualbasic{
    width: 0%;
    animation: 2s visualbasic forwards;
}
@keyframes visualbasic{
    0%{width: 0%;}
    100%{width: 85%;}
}

/*Professional Skills*/
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .trabajoequipo{
    width: 0%;
    animation: 2s trabajoequipo forwards;
}
@keyframes trabajoequipo{
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 92%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .proyecman{
    width: 0%;
    animation: 2s proyecman forwards;
}
@keyframes proyecman{
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proactiva{
    width: 0%;
    animation: 2s proactiva forwards;
}
@keyframes proactiva{
    0%{width: 0%;}
    100%{width: 85%;}
}

/*SECCION CURRICULUM*/
.curriculum{
    background-color: #131517;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #252a2e;
}

.curriculum .fila .derecha{
    border-left: 2px solid #252a2e;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position:relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa{
    color:#FFC300;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color:#FFC300;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .izq{
    border-right: 2px solid #FFC300;
    margin-right: 20px;
}

.curriculum .fila .der{
    border-left: 2px solid #FFC300;
    margin-left: 20px;
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color:#FFC300;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFC300;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color:#FFC300;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFC300;
    float: left;
    position: relative;
    bottom: 4px;
}

/*SECCION PORTAFOLIO*/
.portafolio {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 8rem;
    column-gap: 1rem;
    margin-left: 80px;
}

.portafolio .galeria .proyecto {
    position: relative;
    max-width: 400px;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto a {
    display: block;
    position: relative;
}

.portafolio .galeria .proyecto img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.portafolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(241, 171, 97, 0.8), rgba(241, 171, 97, 0.8));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.portafolio .galeria .proyecto:hover .overlay {
    opacity: 1;
    color: white;
}

.portafolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0;
}

@media screen and (max-width: 980px) {
    /* Estilos para dispositivos más pequeños */
    .portafolio .galeria {
        display: flex; /* Cambia el display a flex para centrar elementos */
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        margin-left: 0; /* Elimina el margen izquierdo en dispositivos pequeños */
    }
    
    /* Ajusta el margen entre las imágenes si es necesario */
    .portafolio .galeria .proyecto {
        margin: 10px; /* Puedes ajustar este valor según tu preferencia */
    }
}



/*SECCION FOOTER*/
footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FFC300;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover{
    background-color: #FFC300;
}
 
/*SECCION RESPONSIVE*/
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}




